<br>
<div id="pageName" style="text-align:center">
<h2 class="projectsPage" style="text-align:center">Projects</h2>
<!-- in case if i want to use  button , code  below -->
<!-- <button type="button" class="btn btn-primary" (click)="onAddClick(project)">Add New Project</button> -->
</div>

<div class="boxLink" style="text-align:center">
    <h3 class="addProjectLinks" style="text-align:center"><a href="/new" >Add New Project </a></h3>
</div>


<br>
<!-- class=card came from bootstrap to wrap every single boxes with border -->
<div id=allProjects >
  <table > 
    
    <tbody>
      <tr *ngFor='let i of projectRange'>
        <span  *ngIf='i % 2 == 0'>
            <div   class="tddesign"><td>{{projects[i][0].name}}</td></div>
            <div   class="tddesign"><td><a [routerLink]="['/view/' + projects[i][0]._id]"><img src={{projects[i][0].gallery1}}></a></td></div>
            
            <div  *ngIf='projects[i][1].name' class="tddesign"><td  class="nameOfProject">{{projects[i][1].name}}</td></div>
            <div  *ngIf='projects[i][1].name' class="tddesign"><td><a [routerLink]="['/view/' + projects[i][1]._id]"><img src={{projects[i][1].gallery1}}></a></td></div>

            <div  *ngIf='!projects[i][1].name' class="tddesign"><td   class="nameOfProject"></td></div>
            <div  *ngIf='!projects[i][1].name' class="tddesign"><td></td></div>
        </span>

        <span *ngIf='i % 2 == 1'>
          
            <div  class="tddesign"><td><a [routerLink]="['/view/' + projects[i][0]._id]"><img src={{projects[i][0].gallery1}}></a></td></div>
            <div  class="tddesign"><td  class="nameOfProject">{{projects[i][0].name}}</td></div>

            <div  *ngIf='projects[i][1].name'  class="tddesign"><td><a [routerLink]="['/view/' + projects[i][1]._id]"><img src={{projects[i][1].gallery1}}></a> </td></div>
            <div  *ngIf='projects[i][1].name'  class="tddesign"><td  class="nameOfProject">{{projects[i][1].name}}</td></div>

            <div  *ngIf='!projects[i][1].name' class="tddesign"><td  class="nameOfProject"></td></div>
            <div  *ngIf='!projects[i][1].name' class="tddesign"><td></td></div>
            
        </span>
      </tr>
    </tbody>
    
  </table>
</div>


<!------------------------------------------>

<!-- Raza's version below -->
<!-- <table class="table">
    <tbody>
      <tr *ngFor='let i of projectRange'>
        <span *ngIf='i % 2 == 0'>
          <td class="tddesign"   width="300" height="300px">{{projects[i][0].name}}</td>
            <td class="tddesign" width="300"><img width="300" height="300px" src={{projects[i][0].gallery}}></td>
            <td class="tddesign"  width="300" height="300px">{{projects[i][1].name}}</td>
            <td class="tddesign" width="300"><img width="300" height="300px" src={{projects[i][1].gallery}}></td>
        </span>
        <span *ngIf='i % 2 == 1'>
            <td class="tddesign" scope="col" width="300"><img width="300" height="300px" src={{projects[i][0].gallery}}></td>
            <td class="tddesign" scope="col"  width="300" height="300px">{{projects[i][0].name}}</td>
            <td class="tddesign" scope="col" width="300"><img width="300" height="300px" src={{projects[i][1].gallery}}></td>
            <td class="tddesign" scope="col"  width="300" height="300px">{{projects[i][1].name}}</td>
        </span>
      </tr>
    </tbody>
  </table> -->



                 



