
<link href="https://fonts.googleapis.com/css?family=Abel|Quicksand|Teko" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Cookie|Homenaje|Oswald|Teko" rel="stylesheet">
<div id="shrift">
  <h1 STYLE="text-align:center">HISTORY, IDEAS, INSPIRATION</h1>
</div>


<br>
<br>
<br>
<div id="cursivText">



<!-- <p class="line-1 anim-typewriter">Music is Liquid architecture;<br>
    Architecture is Frosen Music.</p> -->

<h1 class="line-1 anim-typewriter">Music is Liquid architecture;<br>
    Architecture is Frosen Music.
</h1>
<h2>Quote by Johann Wolfgang von Goethe</h2>


<h3>THE TEAM OF ARCHITECT AND DESIGNERS:</h3>
  
<h3>About Us</h3>
<p>Delta Architect Incorporated is a mid-size architecture firm based in Chicago. Established in 1993 by principal Brad Lamoureux, Architect AIBC, a practicing architect since 1987, the experienced LAI team comprises 11 design professionals and has worked exclusively in the high-end custom residential market for over 20 years.

    Our clients benefit from our deep roots in the Lower Mainland and Sea-to-Sky region, leveraging our extensive network of industry contacts, experience working with regional authorities, and comprehensive local knowledge.</p>
    The Iraqi-British architect designed iconic buildings around the world, including the London Olympic Aquatic Center, the Hong Kong Polytechnic University, and the Heydar Aliyev Cultural Center in Azerbaijan.

    Over 30 her designs, including a Beijing office tower with the "world's tallest atrium," are still under construction. The firm that she started, Zaha Hadid Architects, is continuing her posthumous career and will deliver nearly 50 more structures — more than she designed in her lifetime. One of the firm's most ambitious projects will be redesigning Estonia's capital by 2030, a project it won in September.
    
    A new photography book, "Zaha Hadid Architects: Redefining Architecture & Design" from Images Publishing Group, chronicles how Hadid revolutionized building design.
    
    Often named as the most prominent contemporary female architect, or singled out for notice because of her Iraqi Arab background, Hadid is significant beyond these accidents of birth for her intellectual toughness, her refusal to compromise on her ideas even when very few of them were being realized in concrete and steel. For many years, her designs filled the pages of architecture periodicals but were dismissed as impractical or as too radical, and Hadid even thought about giving up architecture after she suffered a major rejection in her adopted homeland of Britain in 1995. Her star began to rise internationally when her design for Cincinnati, Ohio's new Center for Contemporary Art was selected and built, earning worldwide acclaim. By the mid-2000s Hadid employed nearly 150 people in her London office and was working hard to keep up with new commissions that were coming in, offering her a chance to help reshape the world architectural landscape.



    <h3>Timeless</h3>
<p>We advocate for superior quality in the detailing, materials, and construction of the homes we design. This is because we believe that a custom home should be enduring and increase in value as it ages. In this, we aim to generate designs that set the tone for excellence and have a life beyond the latest trend.</p>
</div>
